
.wrapper {
    background-color: hsl(0, 0%, 5%);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 170px;
    padding-bottom: 100px;
}

.main {
    background-color: hsl(0, 0%, 15%);
    padding-top: 30px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    border-radius: 15px;
}

.background {
    background-color: black;
    padding-bottom: 31px;
}


#location {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

#name {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0px;
}

#description {
    color: white;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 25px;
}

#name, #location, #description, p, .btn-group {
    text-align: center;
    font-family: "Inter";
}

#profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    max-width: 23%;
    margin-top: 5px;
}

body {
    margin: 0;
}

.attribution {
    font-family: "Inter";
    font-size: 14px;
    text-align: center;
    color: white;
  }

a {
    color: white;
    text-decoration: none;
}

.btn {
    height: 15px;
    width: 70%;
    background-color: hsl(0, 0%, 21%);
    color: white;
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 7px;
    border: 0;
}

.btn:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}
